body{
    margin: 0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 562.5%;
    color:  #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color:  #66BFBF;
    font-weight: normal;
    line-height: 2;

}

h3{
    font-family: 'Montserrat', sans-serif;
    color:  #11999E;
}

p{
    color: #40514E;
}

a{
    color:  #11999E;
    text-decoration: none;
    font-weight: bold;
}

hr{
    border-style: dotted none none;
    border-color: #EAF6F6;
    width: 7%;
    border-width: 7px;
}

.contact-me{
    margin-bottom: 100px;
}

.footer-ghost{
    visibility: hidden;
}

.bottom-container p{
    color: #EAF6F6;
    margin-bottom: 0;
    padding-bottom: 1%;
}

.top-container{
    background-color:#EAF6F6;
    position: relative;
    padding-top: 100px;
}


.bottom-container{
    background-color: #66BFBF;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.skill-row{
    width: 50%;
    margin: 4% auto 4% auto;
    text-align: left;
    line-height: 2;
}

.programming-img{
    width: 25%;
    float: left;
    margin-right: 20px;
}

.debugging-img{
    width: 25%;
    float: right;
    margin-left: 20px;
}

.lara{
    margin-top: 4%;
}

.profile{
    margin-bottom: 4%;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -o-linear-gradient(top, #11cdd4,  #11999e);
    background-image: linear-gradient(to bottom, #11cdd4,  #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #3498db);
    background-image: -moz-linear-gradient(top, #30e3cb, #3498db);
    background-image: -ms-linear-gradient(top, #30e3cb, #3498db);
    background-image: -o-linear-gradient(top, #30e3cb, #3498db);
    background-image: linear-gradient(to bottom, #30e3cb, #3498db);
    text-decoration: none;
  }