body{
    margin: 0;
}

h1{
    margin-top: 0;
}

.top-container{
    background-color: #FFECEF;
}

.middle-container{
    width: 200px;
    height: 200px;
    background-color: aqua;
}

.bottom-container{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
}